.rbl-gridblock {
    min-width: 320px;
    line-height: 80px;
    padding: 10% 20%; /* top/bottom left/right */
    border: 2px outset darkgray; /* width style color */
    border-radius: 12px;
    background: linear-gradient(-45deg, cyan,blue,purple);
    color: white;
    text-align: center;
}

#cat-row > .col {  /* Applies centering to category row */
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobile-squash {
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 991px) { 
	.search-bar { width: 100%; margin: 15px 0px; }
	
	.mobile-squash {
		flex-direction: column;
		justify-content: flex-start;
	}
	
	.mobile-squash li {
		padding-bottom: 5px;
	}
}

