.rbl-gridblock {
    min-width: 320px;
    line-height: 80px;
    padding: 10% 20%; /* top/bottom left/right */
    border: 2px outset darkgray; /* width style color */
    border-radius: 12px;
    background: linear-gradient(-45deg, cyan,blue,purple);
    color: white;
    text-align: center;
}

.col {
	display: flex;
	justify-content: center;
	align-items: center;
}
